.companies {
    &__head {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323264;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 30px;
    }
}
