.quality {
    &__photo {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    &__text {
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 30px;
    }
    &__head {
        font-size: 38px;
        line-height: 46px;

        background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}
